<ion-header>
  <ion-navbar>
    <ion-title>
      IT Crowd Code Challenge
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>

    <ion-col col-4 class="left">
      <div class="column-header">TODO</div>
      <ion-list id="TODO" [dragula]='"myColums"' [(dragulaModel)]="TODO" [attr.data-id]="TODO.id">
        <ion-card *ngFor="let task of TODO">
          <ion-card-header>
            {{task.name}}
          </ion-card-header>
          <ion-card-content >
              <ion-input maxlength="25" type="text" (input)="onEditTask($event.target.value, task)" [value]="task.message" ></ion-input>
              <button ion-button (click)="removeTask(task)" color="danger" outline>X</button>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-col>  

    <ion-col col-4 class="right">
      <div class="column-header">IN PROGESS</div>
      <ion-list id="IN_PROGESS" [dragula]='"myColums"' [(dragulaModel)]="IN_PROGESS">
        <ion-card *ngFor="let task of IN_PROGESS">
          <ion-card-header>
            {{task.name}}
          </ion-card-header>
          <ion-card-content>
              <ion-input maxlength="25" type="text" (input)="onEditTask($event.target.value, task)" [value]="task.message" ></ion-input>
              <button ion-button (click)="removeTask(task)" color="danger" outline>X</button>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-col>

    <ion-col col-4 class="right">
      <div class="column-header">DONE</div>
      <ion-list id="DONE" [dragula]='"myColums"' [(dragulaModel)]="DONE">
        <ion-card *ngFor="let task of DONE">
          <ion-card-header>
            {{task.name}}
          </ion-card-header>
          <ion-card-content>
              <ion-input maxlength="25" type="text" (input)="onEditTask($event.target.value, task)" [value]="task.message" ></ion-input>
              <button ion-button (click)="removeTask(task)" color="danger" outline>X</button>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-col>

  </ion-row>

  <ion-col col-4 class="right">
      <button ion-button (click)="onAddTask()">Add task</button>
      <button ion-button (click)="LoadDefault()">Load Default</button>

  </ion-col>
</ion-content>