page-home {

    ion-list {
      min-height: 100px;
      padding-bottom: 0px;
      background-color:rgb(213, 206, 236);
      text-align: center;
      padding: 10px 0px;
    }

    ion-input {
      background: rgb(198, 187, 235);;
      border-style: groove;
    }

    .column-header{
      margin: 10px 0px;
      text-align: center;
      font-weight: bold;
    }
  
  }
  